# Ignore everything
/*/
/*

# Unignore this
!src/
!.gitignore
!resources/
!build.gradle
!gradlew
!gradlew.bat
!settings.gradle

#Ignore constants
src/main/java/com/rolandoislas/math/data/Constants.java